@model CompanyAddedViewModel

<h1>Your company was succesfully added</h1>

<h5>Stats:</h5>

<div>Chars in Name: @Model.NumberOfCharsInName</div>
<div>Chars in Description: @Model.NumberOfCharsInDescription</div>
<div>Hidden?: @(Model.IsHidden ? "yes" : "no") </div>